@import "tailwindcss";

@layer base{
    .container{
        @apply px-6 py-12 max-w-7xl mt-12 lg:mt-32   mx-auto;
    }

    .anchor-hover{
        @apply border-b border-dotted border-gray-300 hover:border-solid hover:border-gray-500;
    }

    .gradient-hover-outer{
        @apply p-[1px] bg-[#e4e4e7] hover:bg-gradient-to-br hover:from-red-200 hover:via-purple-200 hover:to-yellow-200;
    }

    .gradient-hover-inner{
        @apply  bg-slate-50 hover:bg-gradient-to-br hover:from-red-50 hover:via-purple-50 hover:to-yellow-50;
    }

    .h2-style{
        @apply text-5xl sm:font-semibold mb-14;
    }

}

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
    --breakpoint-3xl: 79.9375rem;


  }